body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url(background-image.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  text-align: center;
}

h1 {
  font-family: "Gill Sans", sans-serif;
  font-size: 60px;
  color: #ffffff;
}
